@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fauna+One&display=swap');

/* START SCROLLBAR SECTION */ 
html::-webkit-scrollbar {
  width: 12px;
  
}

html::-webkit-scrollbar-track {
  background: #b6d7dc;
}

html::-webkit-scrollbar-thumb {
  background: #166BB8;
}

html::-webkit-scrollbar-thumb:hover {
  background: #164FB8;
}

html::-webkit-scrollbar-thumb:active {
  background: #1618B8;
}
/* END SCROLLBAR SECTION */ 


/* START CUSTOM CLASSES */ 
.h1-mod {
  font: 400 42px/120% 'Playfair Display', serif;
  color: #17a2b8
}

@media(max-width: 768px) {
  .h1-mod {
    font: 400 35px/120% 'Playfair Display', serif
  }
}

.h3-mod {
  font: 700 18px/120% 'Fauna One', Georgia, serif;
  color: #4143bb;

}

.p-mod {
  font: 500 15px/120% 'Fauna One', Georgia, serif;
  max-width: 300px;
  /* margin: top bottom left right */
  /* color: #000; */
}

.error {
  border: 2px solid #FF6565 !important;

}

.mt-80px {
  margin-top: 80px;

}

.error-message {
  color: #FF6565;
  height: 1em;
  position: absolute;
  font-size: .8em;
}
/* END CUSTOM CLASSES */ 


/* START NAVBAR SECTION */
nav.nav1 {
  background-color: white ;
  padding-bottom: 50px;
  /* border-bottom-right-radius: 3px;  
  border-bottom-left-radius: 3px;   */
  box-shadow: 0 2px 4px 0 rgb(24 99 85);
}

nav.nav2 {
  z-index: 10
  
}

.tog-btn {
  margin-top: -10px !important;
}

.dropdown-toggle:hover {
  color: #000 !important;
}
/* END NAVBAR SECTION */


/* START HERO SECTION */ 
.hero-section {
  position: relative;
  height: auto;
  max-height: 500px;
  min-height: 500px;
  margin-top: 65px;
  padding: 94px 6% 146px;
  background-color: transparent;
    background-image: url("hero-banner.jpg");
    background-position: 50% 50%;
    background-size: cover;
}
/* END HERO SECTION */ 


/* START HOW IT WORKS SECTION */ 

.how-it-works {
  margin-top: 60px;
}

u{
  
}

.hiw-con {
  max-width: 240px !important;
  width: 100% !important;
}

.card {
  max-width: 270px !important;
  width: 100% !important;
  font-family: 'Fauna One', Georgia, serif;
  text-align: center;
  border: none !important;
}

/* START HOW IT WORKS SECTION */ 


.scroll-bg{
  width: 30px;
  height: 40px;
  border-radius: 10%;
  background-color: #17a2b8;
}

.scroll-bg:hover{
  background-color: #164FB8;

}

